<nav>
  <div class="col-md-3 col-sm-3">
    <img src="http://localhost:3000/images/logotype.png" alt="logo">
  </div>
  <div class="col-md-9 col-sm-9">
    <div class="dropdown">
      <ul>
        <li>
          <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
            Home</a>
        </li>
        <li>
          <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
            Info
            <b class="caret"></b>
          </a>
          <ul id="submenu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a tabindex="-1" href="about">About</a></li>
            <li><a tabindex="-1" href="#">Another action</a></li>
            <li><a tabindex="-1" href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#">Help</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/contact">
            Contact</a>
        </li>
      </ul>
  </div>
</nav>
